<section class="home">
  <div class="container">
    <h2 class="home__title text-center mb-5">
      {{ 'HOME.TITLE' | translate }}
    </h2>

    <div class="row justify-content-center row-gap-4 mb-5">
        @for (block of blocks; track block.id; let i = $index) {
          <div class="col-6 col-md-2">
            <div class="blocks__item" (click)="onBlockSelect(block.id)">
              <div class="image"
                   [style.background-image]="'url(assets/images/blocks/'+ block.id + '-' + languageService.lg +'.png)'"
              >
                <img src="../../../assets/images/placeholders/placeholder.svg" alt="placeholder">
              </div>
              <p>
                {{ block.title | translate }}
              </p>
            </div>
          </div>
        }
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-11 col-md-10">
        <div class="benefits">
          <div class="row gap-5 gap-md-0">
            <div class="col-12 col-md-4">
              <div class="d-flex flex-column h-100">
                <h4 class="text-center mb-3">
                  <img class="me-2" src="assets/icons/goblet.png" alt="goblet">
                  {{ 'HOME.BENEFITS.BEST_TITLE_1' | translate }}
                </h4>
                <p class="m-0 text-center">
                  {{ 'HOME.BENEFITS.BEST_TEXT_1' | translate }}
                </p>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="d-flex flex-column h-100">
                <h4 class="text-center mb-3">
                  <img class="me-2" src="assets/icons/schedule.png" alt="schedule">
                  {{ 'HOME.BENEFITS.BEST_TITLE_2' | translate }}
                </h4>
                <p class="m-0 text-center">
                  {{ 'HOME.BENEFITS.BEST_TEXT_2' | translate }}
                </p>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="d-flex flex-column h-100">
                <h4 class="text-center mb-3">
                  <img class="me-2" src="assets/icons/ux.png" alt="ux">
                  {{ 'HOME.BENEFITS.BEST_TITLE_3' | translate }}
                </h4>
                <p class="m-0 text-center">
                  {{ 'HOME.BENEFITS.BEST_TEXT_3' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="row">
      <div class="col-12">
        <p class="section__title">Сайт online-exam.kz (гостест)</p>
        <p class="section__text">Мы предлагаем комплексную подготовку к тестам для поступления на госслужбу Республики Казахстан, получения лицензии или сертификата. Наш методический комплекс позволяет пройти пробные тесты по законодательству РК в условиях, максимально приближенных к реальному тестированию. Тестовые задания составлены строго по законам и, хотя они не гарантируют точного совпадения с вопросами на официальном тестировании, их содержание может совпадать или быть похожим, так как закон единый и статьи законов несут одну смысловую нагрузку.</p>

        <p class="section__title">ПРЕИМУЩЕСТВА:</p>
        <ul class="advantages">
          <li>
            <p class="section__subtitle">Актуальная информация 2024 года:</p>
            <p class="section__text">Самые актуальные онлайн тесты, которые мы постоянно обновляем, чтобы Вы всегда имели доступ к самой свежей информации.</p>
          </li>
          <li>
            <p class="section__subtitle">Лидер на рынке:</p>
            <p class="section__text">Мы находимся в ТОП-2 среди сайтов по подготовке к тестам.</p>
          </li>
          <li>
            <p class="section__subtitle">Тестовые задания с ответами и без:</p>
            <p class="section__text">Для Вашего удобства на сайте представлены вопросы как с ответами, так и без, что позволяет тренироваться в различных режимах.</p>
          </li>
          <li>
            <p class="section__subtitle">Высокая результативность:</p>
            <p class="section__text">Более 2 500 довольных клиентов.</p>
          </li>
          <li>
            <p class="section__subtitle">Скорость обучения:</p>
            <p class="section__text">Вы сокращаете время на подготовку в несколько раз.</p>
          </li>
          <li>
            <p class="section__subtitle">Гибкость обучения:</p>
            <p class="section__text">Все материалы доступны на двух языках.</p>
          </li>
        </ul>

        <p class="section__title">ЦЕЛЬ НАШЕГО ПРОЕКТА:</p>
        <ol class="advantages custom-number-list">
          <li>
            <p class="section__text">Оказание методической помощи кандидатам, сдающим тестирование для трудоустройства, получения лицензии или сертификата путем изучения законов и закрепления их пробными тестами;</p>
          </li>
          <li>
            <p class="section__text">Обеспечение доступной и интересной формы подготовки к тестам, основанным на актуальных законах.</p>
          </li>
        </ol>
        <p class="section__sub-title"><strong>P.S.</strong>Мы надеемся, что наш сайт станет для Вас полезным инструментом в подготовке к тестам и поможет Вам достичь поставленных целей!</p>
      </div>
      </div>
  </div>
</section>
