:root {
  --dark-color: #09001C;
  --main-blue: #0e0a39;

  // TEXT
  --light-text: #ffffff;
  --link-color-hover: #005591;

  --transition-duration: .2s;

  --border-radius: .375rem;
  --standart-border: 1px solid #f8f8f8;

  --standart-shadow: 0 4.95181px 16.0934px #8f8f8f1c;
  --standart-shadow-dark: rgba(0, 0, 0, 0.13) 0 3px 8px;
}