.login {
  height: calc(100vh - 170px - 56px);
  background: url("/assets/images/home-bg.png") no-repeat center/101%;
}

.form {
  background: rgb(151 151 151 / 50%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255 255 255 / 50%);
  padding: 1rem;

  &__switcher {
    position: absolute;
    right: .75rem;
    bottom: 20px;
    transform: translateY(50%);
  }
}