<div class="login">
  <div class="container container-xxl h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-7">
        <form [formGroup]="signInForm" (ngSubmit)="onReset()" class="form" autocomplete="off">
          <div class="mb-4 position-relative">
            <label for="email" class="form-label">
              {{ 'LOGIN.EMAIL' | translate }}
            </label>
            <input formControlName="email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="example@gmail.com"
            >
            @if (signInForm.get('email')!.errors && showErrors) {
              <div class="invalid-feedback">
                {{ 'LOGIN.EMAIL_CORRECT' | translate }}
              </div>
            }
          </div>

          <div class="d-flex justify-content-between pt-2">
            <button class="btn btn-light w-25"
                    type="submit"
            >
              {{ 'LOGIN.RESET' | translate }}
            </button>
            <div>
              <button class="btn btn-link" (click)="router.navigate(['/login'])">
                {{ 'HEADER.LOGIN' | translate }}
              </button>
              <button class="btn btn-link" (click)="router.navigate(['/register'])">
                {{ 'LOGIN.CREATE_ACC' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
