<div class="checkout">
  <div class="container container-xxl h-100 d-flex flex-column">

    <h2 class="checkout__title text-center">
      {{ 'CHECKOUT.TITLE' | translate }}
    </h2>
    <p class="text-center text-white">{{ 'CHECKOUT.DESCRIPTION' | translate }}</p>
    <p class="text-center text-white">{{ 'CHECKOUT.DESCRIPTION2' | translate }}</p>
    <p class="text-center text-white fw-bold">{{ 'CHECKOUT.PAYMENT_LABEL' | translate }}</p>

    <div class="dropdown flex-grow-1 d-flex justify-content-center align-items-center flex-column">
      <button
        class="btn btn-primary blink-button dropdown-toggle w-50 mb-3 mb-md-0"
        [class.btn-danger]="noBlockSelectedError"
        [class.selected-block]="selectedBlock"
        type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ !selectedBlock ? ("CHECKOUT.SELECT_PROGRAM" | translate) : (selectedBlock.title | translate) }}
      </button>
      <ul class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton1">
        @for (block of blocks; track block.id) {
          <li class="dropdown-item" (click)="onSelectBlock(block)">
            {{ block.title | translate }}
          </li>
        }
      </ul>
      <div class="mt-4 d-flex">
        <input type="number" class="form-control" [formControl]="amount" [defaultValue]="1000">
        <button class="btn btn-primary ms-2" (click)="checkout()" [disabled]="!selectedBlock || amount.invalid">{{ 'CHECKOUT.BUY' | translate }}</button>
      </div>
    </div>
  </div>
</div>
