.checkout {
  height: calc(100vh - 170px - 56px);
  background: url("/assets/images/home-bg.png") no-repeat center/101%;
  padding: 2.5rem 0;

  .btn-danger {
    animation: pulse 1s infinite;
  }

  &__title {
    color: var(--light-text);
  }

  &__item {
    box-shadow: var(--standart-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.45);
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    color: var(--light-text);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    padding: 0.75rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
      transform: scale(1.03);
      box-shadow: none;
    }
  }

  .dropdown-item {
    cursor: pointer;
  }

  button.selected-block {
    background-color: #0B58CA;
    animation: none;
  }

  button.dropdown-toggle{
    // background: #bb0000 !important;
    border: red !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px;
  }

  .blink-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #bb0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 1s infinite;
  }

  @keyframes blinkBackground {
    0% {
      background-color: #bb0000;
    }
    50% {
      background-color: red;
    }
    100% {
      background-color: #bb0000;
    }
  }
}

@media screen and (max-width: 768px) {
  .checkout {
    background-size: 100% 140%;
    height: auto;

    &__title {
      margin-bottom: 1rem;
    }

    .dropdown-toggle, .dropdown-menu {
      width: 100% !important;
      white-space: normal;
    }

    .dropdown-item {
      white-space: normal;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
  }
}

